fastapi
uvicorn
psycopg2-binary      # PostgreSQL adapter
sqlalchemy           # ORM for database models
pydantic
python-dotenv        # for managing environment variables
openai-whisper       # Speech-to-text (Whisper)

#for llm
streamlit
google-generativeai
pypdf
langchain
faiss-cpu
langchain_google_genai
langchain-community
langchain-ollama

sentence-transformers
nltk #NEW

# for pdf parsing
pdfplumber
docx2txt
sqlmodel 
passlib[bcrypt] 
python-jose[cryptography]

#unstructured
unstructured[all-docs]
pdfminer.six==20221105
pypdfium2

# refreshtokenstuff
alembic
# initialize it by using ("alembic init alembic")